
{{! A smaller version of the big featured header }}

<header class="site-head-small" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="vertical">
        <div class="site-head-content inner">
            
        </div>
    </div>
</header>
