
{{! Primary Navigation}}

<div class="navbar">

    <div class="header">
    	{{!-- TODO:  Link the logo back to the homepage --}}
        {{!-- <a href="{{@blog.url}}"></a> --}}
        	<strong>PerpetuallyBeta</strong>
    </div>

    <a href="/about-me">About Me</a>

    <!-- <a href="/">Portfolio</a> -->
    <a href="http://salmansq.tumblr.com/">Sketchbook</a>
    <a href="/">Writing</a>
    <!-- <a href="/about-me">Contact</a> -->
</div>
