<div class="social">

    <a href="http://www.twitter.com/salmansq" target="_blank">
      <img src="/assets/images/social_icons/twitter.png" alt="Twitter" />
    </a>

    <a href="https://www.facebook.com/salmansqadeer" target="_blank">
      <img src="/assets/images/social_icons/facebook.png" alt="Facebook" />
    </a>

    <a href="http://www.instagram.com/salmansq" target="_blank">
      <img src="/assets/images/social_icons/instagram.png" alt="Instagram" />
    </a>

    <a href="http://www.linkedin.com/profile/view?id=9568594" target="_blank">
      <img src="/assets/images/social_icons/linkedin.png" alt="LinkedIn" />
    </a>

    <a href="http://salmansq.ghost.io/rss/" target="_blank">
      <img src="/assets/images/social_icons/rss.png" alt="RSS" />
    </a>

  
</div>